body {
  /* top-nav starts */
  /* top-nav ends */
  /* Book search starts */
  /* section 1 starts */
  /* featured-books */
  /* Offers */
  /* Rotate slider */
  /* section7 */
  /* footer starts */ }
  body #top-nav {
    min-height: 8vh;
    background-color: #F6F6F6; }
    body #top-nav .container {
      padding-top: 2vh; }
    body #top-nav i {
      color: #CCCCCC;
      vertical-align: middle; }
    body #top-nav i.fa-paper-plane:after {
      content: "Free shipping on orders above $100";
      color: #777777;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding-left: 1vh; }
    body #top-nav i.fa-globe {
      padding-left: 10vh; }
    body #top-nav i.fa-globe:after {
      content: "English";
      color: #777777;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding-left: 1vh; }
    body #top-nav i.fa-sign-in {
      padding-left: 10vh; }
    body #top-nav i.fa-heart {
      padding-left: 30vh; }
    body #top-nav i.fa-heart:after {
      content: "Whishlist: 0 Items";
      color: #777777;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding-left: 1vh; }
    body #top-nav i.fa-sign-in:after {
      content: "SIGN IN / REGISTER";
      color: #777777;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding-left: 1vh; }
    body #top-nav .brand-icons {
      float: right; }
      body #top-nav .brand-icons i {
        width: 5vh;
        text-align: center;
        margin-left: 2vh;
        padding: 1vh 0 1vh 0;
        background-color: #777777;
        color: #F6F6F6;
        border-radius: 10%; }
  body #book-search {
    min-height: 30vh; }
    body #book-search ul {
      margin-top: 8vh; }
      body #book-search ul li {
        list-style: none;
        display: inline;
        border-right: 2px solid #F4F4F4;
        font-family: "Open Sans", sans-serif;
        padding: 0 2vh 0 2vh;
        color: #777777; }
      body #book-search ul li:last-child {
        border-right: none; }
    body #book-search span#search-concept {
      background-color: #F6F6F6; }
    body #book-search .btn:focus {
      outline: none; }
    body #book-search .input-group {
      border: 2px solid #FAA525;
      margin-left: 5vh; }
    body #book-search i {
      position: relative;
      margin-top: 15vh;
      padding-left: 4vh;
      font-size: 3em;
      color: #CCCCCC; }
  body #section-1 {
    background-image: url(../images/white-bricks-bg.jpg);
    background-size: cover;
    min-height: 70vh; }
    body #section-1 ol {
      bottom: -10vh;
      background-color: #CCCCCC;
      border-radius: 2%;
      width: 60px;
      margin-right: 0; }
    body #section-1 .item {
      margin-top: 15vh; }
    body #section-1 img {
      display: inline-block;
      height: 40vh;
      width: 25vh; }
    body #section-1 .image-right > a {
      float: right; }
    body #section-1 .center-matter {
      display: inline-block;
      text-align: center; }
      body #section-1 .center-matter h3 {
        color: #000000;
        font-weight: bold; }
      body #section-1 .center-matter h1 {
        font-size: 3em;
        color: #E1414D;
        font-weight: bold; }
      body #section-1 .center-matter h2 {
        color: #FAA525;
        font-weight: bold; }
      body #section-1 .center-matter h4 {
        font-size: 1em;
        color: #FFFFFF;
        font-weight: bold;
        background-color: #D7D7D5;
        padding: 1vh; }
      body #section-1 .center-matter button {
        border-radius: 0;
        color: #FAA525;
        font-weight: bold; }
    body #section-1 .carousel-control.right {
      background-image: none !important; }
    body #section-1 .carousel-control.left {
      background-image: none !important; }
  body #section2 {
    vertical-align: middle;
    min-height: 20vh;
    background-color: #F6F6F6; }
    body #section2 .section2-block {
      padding-top: 5vh; }
    body #section2 i {
      color: #D7D7D5;
      background-color: #ffffff;
      border-radius: 100%;
      padding: 2vh; }
    body #section2 header {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #FAA525; }
    body #section2 p {
      font-family: "Open Sans", sans-serif;
      font-size: 0.9em;
      padding-top: 2vh; }
  body #featured-books {
    min-height: 110vh; }
    body #featured-books h1 {
      font-family: "Montserrat", sans-serif; }
    body #featured-books p {
      font-family: "Open Sans", sans-serif; }
    body #featured-books .multi-item-carousel .carousel-inner > .item {
      transition: 500ms ease-in-out left; }
    body #featured-books .multi-item-carousel .carousel-inner .active.left {
      left: -33%; }
    body #featured-books .multi-item-carousel .carousel-inner .active.right {
      left: 33%; }
    body #featured-books .multi-item-carousel .carousel-inner .next {
      left: 33%; }
    body #featured-books .multi-item-carousel .carousel-inner .prev {
      left: -33%; }
    @media all and (transform-3d), (-webkit-transform-3d) {
      body #featured-books .multi-item-carousel .carousel-inner > .item {
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none !important; } }
    body #featured-books .multi-item-carousel .carousel-inner img {
      width: 100%;
      height: 55vh;
      margin-right: 0; }
    body #featured-books .multi-item-carousel .carousel-inner .description {
      background-color: #F6F6F6;
      padding: 2vh; }
      body #featured-books .multi-item-carousel .carousel-inner .description h4, body #featured-books .multi-item-carousel .carousel-inner .description h3, body #featured-books .multi-item-carousel .carousel-inner .description p {
        font-family: "Open Sans", sans-serif; }
      body #featured-books .multi-item-carousel .carousel-inner .description h4 {
        color: #C0C0C0;
        margin-top: 0; }
      body #featured-books .multi-item-carousel .carousel-inner .description h3 {
        color: #777777;
        font-weight: bold; }
      body #featured-books .multi-item-carousel .carousel-inner .description h4.cost {
        display: inline;
        color: #FAA525;
        font-weight: bold; }
      body #featured-books .multi-item-carousel .carousel-inner .description i {
        font-size: 1em;
        float: right;
        padding-right: 2vh;
        display: inline;
        color: #777777; }
    body #featured-books .multi-item-carousel .carouse-control.left, body #featured-books .multi-item-carousel .carouse-control.right {
      background-image: none; }
    body #featured-books .multi-item-carousel .carousel-control.right {
      background-image: none !important; }
    body #featured-books .multi-item-carousel .carousel-control.left {
      background-image: none !important; }
  body #offers {
    min-height: 30vh; }
    body #offers #left-section {
      position: relative;
      border: 10px solid #777777;
      border-bottom: none;
      margin: 20px;
      height: 150px; }
      body #offers #left-section .offer-tag {
        float: right; }
      body #offers #left-section a {
        text-align: right;
        text-decoration: none; }
      body #offers #left-section img {
        top: -178px; }
    body #offers h3, body #offers p, body #offers a {
      font-family: "Open Sans", sans-serif;
      color: #ffffff; }
    body #offers h3 {
      font-weight: bold; }
    body #offers img {
      position: relative;
      height: 120px;
      width: 80px; }
    body #offers #left-section:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 0;
      background-color: #777777; }
    body #offers #right-section {
      position: relative;
      float: right;
      border: 10px solid #777777;
      border-bottom: none;
      margin: 20px;
      height: 150px; }
      body #offers #right-section img {
        top: -50px; }
      body #offers #right-section .offer-tag {
        float: left;
        position: relative; }
      body #offers #right-section p {
        background-color: #E1414D; }
    body #offers #right-section:before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 0;
      background-color: #777777; }
  body #round-carousel {
    background-image: url(../images/wooden-bg.jpg);
    min-height: 80vh; }
    body #round-carousel img {
      height: 30vh;
      width: 20vh; }
    body #round-carousel .rotateslider-container {
      position: relative;
      width: 1000px;
      height: 500px;
      margin-left: auto;
      margin-right: auto;
      background-color: #efefef; }
    body #round-carousel .rotateslider-container .rotateslider-item {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%) scale(0.6);
      -ms-transform: translateY(-50%) translateX(-50%) scale(0.6);
      transform: translateY(-50%) translateX(-50%) scale(0.6);
      opacity: 0;
      -webkit-filter: blur(5px);
      filter: blur(5px);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    body #round-carousel .rotateslider-container .rotateslider-item.next {
      left: 80%;
      opacity: 0.5; }
    body #round-carousel .rotateslider-container .rotateslider-item.prev {
      left: 20%;
      opacity: 0.5; }
    body #round-carousel .rotateslider-container .rotateslider-item.now {
      opacity: 1;
      -webkit-filter: blur(0px);
      filter: blur(0px);
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
      -ms-transform: translateY(-50%) translateX(-50%) scale(1);
      transform: translateY(-50%) translateX(-50%) scale(1); }
    body #round-carousel .rotateslider-container .arrow {
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #000;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      cursor: pointer;
      color: #fff;
      text-align: center; }
    body #round-carousel .rotateslider-container .arrow.left {
      left: 0; }
    body #round-carousel .rotateslider-container .arrow.right {
      right: 0; }
  body #section7 {
    background-image: url(../images/grey-lines-background.jpg);
    background-size: cover;
    min-height: 35vh; }
    body #section7 .inner-section7 {
      margin-top: 10vh;
      border: 1px solid #ffffff; }
      body #section7 .inner-section7 p {
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        text-align: center; }
      body #section7 .inner-section7 h1 {
        text-align: center;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        color: #ffffff; }
  body #section8 {
    background-image: url(../images/grey-seamless-bg.jpg);
    background-size: cover;
    width: 25%;
    min-height: 85vh; }
    body #section8 img {
      left: 10vh;
      margin-top: 10vh;
      height: 65vh;
      border: 10px solid #ffffff;
      padding: 0px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }
    body #section8 .author-info {
      margin-top: 10vh; }
      body #section8 .author-info h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 2em; }
      body #section8 .author-info p {
        text-align: justify;
        color: #C0C0C0;
        font-family: "Open Sans", sans-serif; }
      body #section8 .author-info header {
        padding-top: 5vh;
        font-family: "Open Sans", sans-serif;
        font-weight: bold; }
      body #section8 .author-info p.category {
        color: #FAA525;
        font-family: "Montserrat", sans-serif; }
      body #section8 .author-info p.sign {
        color: #94CACC;
        font-family: 'Yellowtail', cursive;
        font-size: 1.5em; }
      body #section8 .author-info i {
        background-color: #F4F4F4;
        padding-top: 1vh;
        height: 5vh;
        width: 5vh;
        color: #707172;
        text-align: center;
        vertical-align: middle;
        margin-right: 5vh; }
  body #section9 {
    min-height: 100vh; }
    body #section9 h1 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 2em; }
    body #section9 p {
      font-family: "Open Sans", sans-serif; }
    body #section9 div.border1 {
      padding: 0;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); }
    body #section9 img {
      /* 	position: absolute; */
      height: 40vh;
      width: 100%; }
    body #section9 .tag {
      /* 		margin-top: 2vh;
      padding: 0vh 3vh 0vh 3vh;
      background-color: #FAA525;
      position: absolute;
      text-align: center;	
      font-family: $secondary-font;
       */ }
      body #section9 .tag header {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0;
        color: #ffffff; }
      body #section9 .tag p {
        font-weight: bold;
        color: #ffffff; }
    body #section9 .book-info {
      /* 	position: absolute; */
      padding: 0 5vh 0 5vh; }
      body #section9 .book-info header {
        font-size: 1.5em;
        font-weight: bold;
        font-family: "Open Sans", sans-serif; }
      body #section9 .book-info p {
        font-family: "Open Sans", sans-serif;
        color: #C0C0C0; }
      body #section9 .book-info .book-type {
        margin: 2vh 0 2vh 0; }
      body #section9 .book-info p.admin {
        display: inline;
        border-right: 2px solid #F4F4F4;
        padding-right: 2vh; }
      body #section9 .book-info p.type {
        padding-left: 1vh;
        display: inline; }
      body #section9 .book-info p.content {
        text-align: justify; }
    body #section9 i {
      background-color: #ffffff;
      padding: 1vh;
      margin: 1vh;
      color: #707172; }
    body #section9 .icons {
      background-color: #D7D7D5; }
    body #section9 i:after {
      content: "30";
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding-left: 1vh; }
    body #section9 i.fa-long-arrow-right:after {
      content: "MORE";
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      padding-left: 1vh; }
    body #section9 i.fa-long-arrow-right {
      float: right; }
  body #section10 {
    min-height: 100vh; }
    body #section10 h1 {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 2em; }
    body #section10 p {
      font-family: "Open Sans", sans-serif;
      color: #C0C0C0; }
    body #section10 .upper-block {
      border-bottom: 2px solid #F4F4F4;
      width: 100%;
      text-align: center; }
    body #section10 .lower-block {
      margin-top: 0;
      text-align: center; }
    body #section10 .upper-block > img {
      padding: 5vh 8vh 5vh 8vh;
      height: 25vh;
      width: 35vh; }
    body #section10 .lower-block > img {
      padding: 5vh 8vh 5vh 8vh;
      height: 25vh;
      width: 35vh; }
    body #section10 .middle {
      border-left: 2px solid #F4F4F4;
      border-right: 2px solid #F4F4F4; }
    body #section10 .author-carousel {
      background-image: url(../images/grey-author-bg.jpg);
      min-height: 65vh;
      vertical-align: middle; }
    body #section10 #authorCarousel {
      height: 65vh; }
    body #section10 .item {
      margin-right: 0;
      text-align: center; }
      body #section10 .item i {
        margin-top: 8vh;
        color: #FAA525;
        font-size: 3em; }
      body #section10 .item img {
        display: block;
        margin: 4vh auto 4vh auto; }
      body #section10 .item h3 {
        font-family: "Open Sans", sans-serif; }
      body #section10 .item p {
        font-family: "Open Sans", sans-serif;
        color: #707172; }
        body #section10 .item p span {
          color: #FAA525; }
  body footer {
    background-color: #262626; }
    body footer .tag {
      text-align: center;
      background-color: #111111;
      padding: 0;
      width: 10vh; }
    body footer p.comment {
      color: #FAA525; }
    body footer p, body footer h3, body footer header {
      color: #ffffff;
      font-family: "Montserrat", sans-serif; }
    body footer h3:after {
      border-bottom: 2px solid #FAA525;
      content: '';
      display: block;
      width: 30%; }

/*# sourceMappingURL=home.css.map */
