$primary-font:'Montserrat', sans-serif;
$secondary-font:'Open Sans', sans-serif;

//colors
$color_alto_approx: #ddd;
$color_storm_dust_approx: #666;
$color_orange_approx: #FAA525;
$color_chathams_blue_approx: #21527d;
$white: #fff;
$black_30: rgba(0, 0, 0, 0.3);
$color_cararra_approx: #edecec;


body{

/* top-nav starts */
#top-nav{
	min-height: 5vh;
	background-color: #F6F6F6;

	.partition{
		text-align: center;
		margin-bottom: 1vh;
	}
	.container{
		padding: 2vh;
	}
	i{
		color: #CCCCCC;
		font-size: 2vh;
	}
	i.fa-paper-plane:after{
		content: "Free shipping on orders above $100";
		color: #777777;
		font-family: $secondary-font;
		font-size: 1em;
	}
	i.fa-globe:after{
		content: "English";
		color: #777777;
		font-family: $secondary-font;
		font-size: 1em;
		padding-left: 1vh;
	}
	i.fa-heart{
		padding-left: 2vh;
	}
	i.fa-heart:after{
		content: "Whishlist: 0 Items";
		color: #777777;
		font-family: $secondary-font;
		font-size: 1em;
		padding-left: 1vh;
	}
	i.fa-sign-in:after{
		content: "SIGN IN / REGISTER";
		color: #777777;
		font-family: $secondary-font;
		font-size: 1em;
		padding-left: 1vh;
	}
	.brand-icons{
		float: right;
		i{
			padding: 1vh;
			width: 4vh;
			font-size: 2vh;
			text-align: center;
			margin-left: 2vh;
			background-color: #777777;
			color:#F6F6F6;
			border-radius: 10%;
		}
	}
}
/* top-nav ends */

/* Book search starts */
#book-search{
	min-height: 10vh;
	img{
		margin-top: 5vh;
		height: 17vmin;
		width: 23vmin;
	}
	ul.upper-line{
		margin-top: 5vh;
		padding: 0;
		text-align: left;
		li{
			list-style: none;
			display: inline;
			border-right: 2px solid #F4F4F4;
			font-family: $secondary-font;
			padding: 0 2vmin 0 2vmin;
			color: #777777;
			font-size: 13px;
		}
		li:last-child{
			border-right: none;
		}
	}

	.input-group{
		width: 40vw;
		margin-top: 5vh;
		margin-left: 4vh;
		* {
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			border-radius: 0 !important;
		}
	}

	.dropdown-menu > li{
		font-family: $secondary-font;
		font-size: 13px;
	}

	input:focus {
		border: none;
	}

	span > button{
		background-color: $color_orange_approx;
		color: #fff;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	i{
		padding-left: 1vh;
		margin-top: 5vh;
		font-size: 5vmin;
		color: #CCCCCC;
	}
}
/* Book search ends */

/* black-navbar */
#black-navbar{
	.navbar-default{
		margin-bottom: 0;
		background-color: #000;
	}

	a{
		font-family: $secondary-font;
	}

	.dropdown-menu > a{
		color: #CCCCCC;
	} 

	a.dropdown-toggle{
		color: #fff;

		&.hover{
			text-decoration: none;
		}

		&.active{
			background-color: #000;
		}
	}
	.navbar-right > li > a{
		color: #fff;

		&.hover{
			text-decoration: none;
		}
	}

}

/* section 1 starts */
#section-1{
	background-image: url(../images/white-bricks-bg.jpg);
	background-size: cover;
	min-height : 80vh;
	ol{
		bottom: -10vh;
		background-color: #CCCCCC;
		border-radius: 10%;
		margin-right: auto;
		margin-left: auto;
		width: 70px;
		left: 47vw;
	}
	.item{
		margin-top: 15vh;
	}
	img{
		display: inline-block;
		height: 40vh;
		width: 25vh;
	}
	.image-left > a{
		float: left;
		margin-left: 10vh;
	}
	.image-right > a{
		float: right;
		margin-right: 10vh;
	}
	.squarebrackets 
	{
		font-family: calibri;
		font-size:20px;
		position: relative;
		padding:10px;
	}
	.squarebrackets:before {
		content: " ";
		position: absolute;
		border-left:3px solid #FAA525;
		border-top:3px solid #FAA525;
		border-bottom:3px solid #FAA525;
		padding:5px;
		top:-10px;
		bottom:-10px;
		left: -5px;
	}
	.squarebrackets:after
	{
		content: " ";
		position: absolute;
		border-right:3px solid #FAA525;
		border-top:3px solid #FAA525;
		border-bottom:3px solid #FAA525;
		padding:5px;
		top:-10px;
		bottom:-10px;
		right: -5px;
	}
	.center-matter{
		display: inline-block;
		text-align: center;
		h3{
			color: #000000;
			font-weight: bold;
		}
		h1{
			font-size: 3em;
			color:#E1414D;
			font-weight: bold;
		}
		h2{
			color:#FAA525;
			font-weight: bold;
		}
		h4{
			font-size: 1em;
			color: #FFFFFF;
			font-weight: bold;
			background-color: #D7D7D5;
			padding: 1vh;
			margin-left: auto;
			margin-right: auto;
			width: 50vh;
		}
		button{
			border-radius: 0;
			color: #FAA525;
			font-weight: bold;
			box-shadow: none;
		}
	}
	.carousel-control.right { 
		background-image:none !important;
	}
	.carousel-control.left { 
		background-image:none !important;
	}
}


/* section2 */
#section2{
	vertical-align: middle;
	min-height: 20vh;
	background-color: #F6F6F6;
	.section2-block{
		padding-top: 5vh;
	}
	i{
		color: #D7D7D5;
		background-color: #ffffff;
		border-radius: 100%;
		padding: 2vh;
	}
	header{
		font-family: $primary-font;
		font-weight: bold;
		color: #FAA525;
	}
	p{
		font-family: $secondary-font;
		font-size: 0.9em;
		padding-top: 2vh;
	}
}


/* FEATURED BOOKS */

#featured-books{
	min-height: 110vh;
	h1{
		font-family: $primary-font;
	}
	p{
		font-family: $secondary-font;
	}
	.multi-item-carousel{
		.carousel-inner{
			> .item{
				transition: 500ms ease-in-out left;
			}
			.active{
				&.left{
					left:-33%;
				}
				&.right{
					left:33%;
				}
			}
			.next{
				left: 33%;
			}
			.prev{
				left: -33%;
			}
			@media all and (transform-3d), (-webkit-transform-3d) {
				> .item{
					transition: 500ms ease-in-out all;
					-webkit-backface-visibility: visible;
					transform: none!important;
				}
			}
			img{
				width: 100%;
				height: 55vh;
				margin-right: 0;
			}
			.description{
				background-color: #F6F6F6;
				padding: 1vh;
				h4,h3,p{
					font-family: $secondary-font;
				}
				h4{
					font-size: 2vh;
					color: #C0C0C0;
					margin-top: 0;
				}
				h3{
					font-size: 3vh;
					color: #777777;
					font-weight: bold;
				}
				h4.cost{
					font-size: 2vh;
					display: inline;
					color: #FAA525;
					font-weight: bold;
				}
				i{
					font-size: 2vh;
					float: right;
					padding-right: 1vh;
					display: inline;
					color: #777777;
				}
			}
		}
		.carouse-control{
			&.left, &.right{
				background-image: none;
			}
		}
		.carousel-control.right { 
			background-image:none !important;
		}
		.carousel-control.left{ 
			background-image:none !important;
		}
	}
}


/* Offers */

#offers{
	min-height: 40vh;
	a{
		text-decoration: none;
	}
	#left-section{	
		position: relative;
		border: 10px solid #777777; 
		border-bottom: none; 
		margin: 20px;
		height: 150px;
		.offer-tag{
			float: right;
		}
		a{
			text-align: right;
		}
		img{
			top: -178px;
		}
	}
	h3,p,a{
		font-family: $secondary-font;
		color: #ffffff;
	}
	h3{
		font-weight: bold;
	}
	img{
		position: relative;
		height: 120px;
		width: 80px;
	}
	#left-section:before {
		content: " ";
		position: absolute;
		z-index: -1;
		top: 1px;
		left: 1px;
		right: 1px;
		bottom: 0;
		background-color: #777777;
	}
	#right-section{	
		position: relative;
		float: right;
		border: 10px solid #777777; 
		border-bottom: none; 
		margin: 20px;
		height: 150px;
		img{
			top: -50px;
		}
		.offer-tag{
			float: left;
			position: relative;
		}
		p{
			background-color: #E1414D;
		}
	}
	#right-section:before {
		content: " ";
		position: absolute;
		z-index: -1;
		top: 1px;
		left: 1px;
		right: 1px;
		bottom: 0;
		background-color: #777777;
	}
}

/* 3D Carousel */

#round-carousel{
	background-image: url(../images/wooden-bg.jpg);
	min-height: 80vh;

	h1{
		font-family: $primary-font;
		color: #FAA525;
		text-align: center;
	}

	h4{
		font-family: $secondary-font;
		color: #777777;
		text-align: center;
	}

	img{
		height: 60vh;
		width: 40vh;
	}

	.rotateslider-container {
		position: relative;
		width: 1000px;
		height: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	.rotateslider-container .rotateslider-item {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%) scale(0.6);
		-ms-transform: translateY(-50%) translateX(-50%) scale(0.6);
		transform: translateY(-50%) translateX(-50%) scale(0.6);
		opacity: 0;
		-webkit-filter: blur(5px);
		filter: blur(5px);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.rotateslider-container .rotateslider-item.next {
		left: 80%;
		opacity: 0.5;
	}

	.rotateslider-container .rotateslider-item.prev {
		left: 20%;
		opacity: 0.5;
	}

	.rotateslider-container .rotateslider-item.now {
		opacity: 1;
		-webkit-filter: blur(0px);
		filter: blur(0px);
		top: 50%;
		left: 50%;
		-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
		-ms-transform: translateY(-50%) translateX(-50%) scale(1);
		transform: translateY(-50%) translateX(-50%) scale(1);
	}

	.rotateslider-container .arrow {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: #000;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		cursor: pointer;
		color: #fff;
		text-align: center;
	}

	.rotateslider-container .arrow.left { left: 0; }

	.rotateslider-container .arrow.right { right: 0; }

	
}

/* 	Tab Carousel */

#tab-carousel{
	min-height: 80vh;
	%extend_1 {
		border: none;
		color: $color_orange_approx !important;
		background: transparent;
	}

	li > a{
		text-align: center;
		padding: 1vh;
		font-size: 1em;
	}
	.nav-tabs {
		border-bottom: 2px solid $color_alto_approx;
		width: 100%;
		> li {
			&.active {
				> a {
					border-width: 0;
					@extend %extend_1;
					&:focus {
						border-width: 0;
					}
					&:hover {
						border-width: 0;
					}
				}
				> a::after {
					transform: scale(1);
				}
			}
			> a {
				text-align: center;
				border: none;
				color: $color_storm_dust_approx;
				&:hover {
					@extend %extend_1;
				}
			}
			> a::after {
				content: "";
				background: $color_orange_approx;
				height: 2px;
				position: absolute;
				width: 100%;
				left: 0;
				bottom: -1px;
				transition: all 250ms ease 0s;
				transform: scale(0);
			}
			&:hover > a::after {
				transform: scale(1);
			}
		}
	}

	.tab-pane {
		padding: 15px 0;
	}
	.tab-content {
		padding: 20px;
	}
	.card {
		background: $white none repeat scroll 0 0;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.tab-nav > li > a::after {
		background: $color_chathams_blue_approx none repeat scroll 0 0;
		color: $white;
	}


	.tab-carousel-description{
		background-color: #F6F6F6;
		width: 250px;
		margin-right: auto;
		margin-left: auto;
		padding: 2vmin;
		text-align: center;
	}

	img{
		height: 350px;
		width: 250px;
		margin-right: auto;
		margin-left: auto;
	}
	p > span{
		color: #E1414D;
		margin-left: 2vmin;
	}
	h5,h4,p{
		font-family: $secondary-font;
	}

	h5{
		color: #C0C0C0;
		font-size: 1em;
	}

	h4{
		color: #777777;
		font-size: 1.2em;
	}

	.btn{
		background-color: #F6F6F6;
		font-family: $secondary-font;
	}

	.btn:focus {
		outline: none;
	}

	.carousel-control.right { 
		background-image:none !important;
	}

	.carousel-control.left { 
		background-image:none !important;
	}



	.multi-item-carousel{
		.carousel-inner{
			> .item{
				transition: 500ms ease-in-out left;
			}
			.active{
				&.left{
					left:-33%;
				}
				&.right{
					left:33%;
				}
			}
			.next{
				left: 33%;
			}
			.prev{
				left: -33%;
			}
			@media all and (transform-3d), (-webkit-transform-3d) {
				> .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: hidden;
        transform: none!important;
      }
    }
  }
  .carouse-control{
  	&.left, &.right{
  		background-image: none;
  	}
  }
}

}


/* section7 */

#section7{
	background-image: url(../images/grey-lines-background.jpg);
	background-size: cover;
	min-height : 35vh;

	.inner-section7{
		margin-top: 10vh;
		margin-bottom: 10vh;
		border: 1px solid #ffffff;

		p{
			font-family: $secondary-font;
			color: #ffffff;
			text-align: center;

		}

		h1{
			text-align: center;
			font-weight: bold;
			font-family: $primary-font;
			color: #ffffff;
		}
	}
}

/* FEATURED AUTHOR */
#featured-author{
	min-height : 85vh;

	.author-image{
		text-align: center;
		img{
			margin-top: 10vh;
			height: 400px;
			width: 280px;
			text-align: center;
			border: 10px solid #ffffff;
			padding: 0px;
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
		}
	}

	.author-info{
		margin-top: 10vh;



		h1{
			font-family: $primary-font;
			font-weight: bold;
			font-size: 2em;
		}

		p{
			text-align: justify;
			color: #C0C0C0;
			font-family: $secondary-font;
		}

		header{
			padding-top: 5vh;
			font-family: $secondary-font;
			font-weight: bold;
		}

		p.category{
			color: #FAA525;
			font-family: $primary-font;
		}
		p.sign{
			color: #94CACC;
			font-family: 'Yellowtail', cursive;
			font-size: 1.5em;
		}

		i{
			padding: 1vh;
			width: 4vh;
			font-size: 2vh;
			text-align: center;
			margin-left: 2vh;
			margin-bottom: 2vh;
			background-color: #F6F6F6;
			color:#777777;
			border-radius: 10%;
		}
	}

}

/* BLOGPOSTS */
#blogposts{
	min-height : 100vh;
	h1{
		font-family: $primary-font;
		font-weight: bold;
		font-size: 2em;
	}

	p{
		font-family: $secondary-font;
	}
	div.border1{
		padding: 0;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
		margin-bottom: 3vh;
	}

	img{
	/* 	position: absolute; */
	height: 40vh;
	width: 100%;
}



.tag{
/* 		margin-top: 2vh;
padding: 0vh 3vh 0vh 3vh;
background-color: #FAA525;
position: absolute;
text-align: center;	
font-family: $secondary-font;
 */
 header{
 	font-size: 1.5em;
 	font-weight: bold;
 	margin-bottom: 0;
 	color: #ffffff;
 }

 p{
 	font-weight: bold;
 	color: #ffffff;
 }
}

.book-info{
	/* 	position: absolute; */
	padding: 0 5vh 0 5vh;


	header{
		font-size: 1.5em;
		font-weight: bold;
		font-family: $secondary-font;
	}

	p{
		font-family: $secondary-font;
		color: #C0C0C0;
	}

	.book-type{
		margin: 2vh 0 2vh 0;
	}
	p.admin{
		display: inline;
		border-right: 2px solid #F4F4F4;
		padding-right: 2vh;
	}

	p.type{
		padding-left: 1vh;
		display: inline;
	}

	p.content{
		text-align: justify;
	}

}

i{
	background-color: #ffffff;
	padding: 1vh;
	margin: 1vh;
	color: #707172;
}

.icons{
	background-color: #D7D7D5;
}

i:after{
	content: "30";
	font-family: $secondary-font;
	font-size: 1em;
	padding-left: 1vh;
}

i.fa-long-arrow-right:after{
	content: "MORE";
	font-family: $secondary-font;
	font-size: 1em;
	padding-left: 1vh;
}

i.fa-long-arrow-right{
	float: right;
}

}

/* PUBLISHERS */
#publishers{
	min-height : 100vh;

	h1{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 2em;
	}

	p{
		font-family: $secondary-font;
		color: #C0C0C0;
	}

	.upper-block{
		border-bottom: 2px solid #F4F4F4;
		text-align: center;
	}

	.lower-block{
		margin-top: 0;
		text-align: center;
	}

	.upper-block > img{
		padding: 5vh 8vh 5vh 8vh;
		height: 25vh;
		width: 35vh;
	}

	.lower-block > img{
		padding: 5vh 8vh 5vh 8vh;
		height: 25vh;
		width: 35vh;
	}
	.middle{
		border-left: 2px solid #F4F4F4;
		border-right: 2px solid #F4F4F4;
	}

	.author-carousel{
		background-image: url(../images/grey-author-bg.jpg);
		min-height: 65vh;
		vertical-align: middle;
	}

	#authorCarousel{
		height: 65vh;
	}

	.item{
		margin-right: 0;
		text-align: center;

		i{
			margin-top: 8vh;
			color: #FAA525;
			font-size: 3em;
		}

		img{
			display: block;
			margin: 4vh auto 4vh auto;
		}

		h3{
			font-family: $secondary-font;

		}
		p{
			font-family: $secondary-font;
			color:  #707172;

			span{
				color: #FAA525;
			}
		}
	}
}

/* footer starts */
footer{
	background-color: #262626;
	.tag{
		text-align: center;
		background-color: #111111;
		padding: 0;
		width: 10vh;
	}

	p.comment{
		color: #FAA525;

	}

	p,h3,header{
		color: #ffffff;
		font-family: $primary-font;
	}

	h3:after {
		border-bottom: 2px solid #FAA525;
		content: '';
		display: block;
		width: 30%;
	}

}

}





















